@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
:root {
    --primary: #7898FF;
    --secondary: #614481;
    --app-grey: #253255;
    --text-color: #69b8c5;
    --bg-form: #1c1c21;
    --mi-cielo: url("../assets/micielo.png");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: var(--mi-cielo);
    background-size: 200%;
    min-height: 100vh;
}

button {
    border: none;
    border-radius: 3px;
}