@import url('./common.css');
header {
    display: flex;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    box-shadow: 0px 3px 5px var(--secondary);
    padding: 0 3em;
    margin-bottom: 2em;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}

a {
    display: block;
    width: fit-content;
    padding: .7em 1em;
    text-decoration: none;
    border-bottom: .2em solid white;
    color: white
}

a:hover {
    border-bottom: .2em solid var(--secondary);
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: rgb(223, 223, 223);
}

.user-info p {
    text-transform: capitalize;
}

.user-info .user-image {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: white;
    opacity: .3;
    margin-left: .7em;
}


/* Nueva tarea ----------------------------------------------------------- */

.nueva-tarea {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--bg-form);
    width: 80%;
    margin: 0 10%;
    padding: 1em;
    box-shadow: 2px 2px 10px var(--secondary);
    border-radius: .2em;
    z-index: 20;
}

.nueva-tarea input[type=text] {
    border: none;
    flex: 1;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    padding: .3em;
    font-size: 1.1em;
    background-color: var(--bg-form);
}

.nueva-tarea input:focus {
    color: var(--primary);
    outline: none;
    border-bottom: 1px solid var(--primary);
}

.nueva-tarea input::placeholder {
    text-indent: .2em;
}

#agregarTarea {
    color: lightgrey;
    opacity: .5;
    background-color: transparent;
}

.nueva-tarea .agregar {
    font-size: 2em;
    background-color: transparent;
    margin-left: .5em;
}

#agregarTarea:hover {
    color: var(--primary);
    opacity: 1;
}

.not-done {
    width: 2em;
    height: 2em;
    background-color: var(--bg-form);
    margin-right: 1em;
    border-radius: 50%;
    cursor: pointer;
}


/* Lista de tareas ----------------------------------------------------------- */

.tareas-pendientes {
    display: flex;
    flex-direction: column;
    width: 70%;
    list-style: none;
    margin: 2em 15%;
}

.tarea {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.tarea .not-done {
    position: relative;
    height: 1.5em;
    width: 1.5em;
    background-color: var(--bg-form);
    box-shadow: 2px 2px 5px var(--secondary);
    border: 2px solid var(--secondary);
    z-index: 2;
    transition: background-color 200ms linear;
}

.tarea .not-done:hover {
    background-color: var(--secondary);
}

.tarea:first-child .not-done::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: calc(.75em - 1px);
    display: block;
    height: 3em;
    width: 2px;
    background-color: var(--secondary);
}

.tarea:not(:last-child) .not-done::after {
    content: '';
    position: absolute;
    top: 100%;
    left: calc(.75em - 1px);
    display: block;
    height: 4.5em;
    width: 2px;
    background-color: var(--secondary);
}

.tarea .descripcion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    background-color: var(--bg-form);
    padding: 1em 2em;
    box-shadow: 2px 2px 5px var(--secondary);
}

.tarea .nombre {
    color: rgb(95, 95, 95);
}

.tarea .timestamp {
    font-size: .9em;
    color: rgb(134, 134, 134);
}

.tarea .remove {
    left: 1em;
    position: relative;
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    box-shadow: 2px 2px 5px lightgrey;
    border: 2px solid var(--secondary);
    z-index: 2;
    transition: background-color 200ms linear;
    cursor: pointer;
}

.tarea .remove:hover {
    background-color: var(--secondary);
}


/* Tareas terminadas ----------------------------------------------------------- */

.titulo-terminadas {
    position: relative;
    width: 8em;
    text-align: center;
    padding: .5em 1em;
    background-color: var(--bg-form);
    border-radius: .2em;
    box-shadow: 3px 3px 5px 5px var(--secondary);
    color: var(--primary);
    font-weight: 400;
    font-size: 1.1em;
    margin-left: calc(15% - 4em);
    z-index: 20;
}

.tareas-terminadas {
    display: flex;
    flex-direction: column;
    width: 70%;
    list-style: none;
    margin: 2em 15%;
}

.tareas-terminadas .not-done {
    background-color: var(--bg-form);
    border-color: grey;
}

.tareas-terminadas .not-done::before,
.tareas-terminadas .not-done::after {
    background-color: grey !important;
}

.tareas-terminadas .tarea .descripcion {
    background-color: var(--bg-form);
}

.tareas-terminadas .tarea .descripcion .nombre {
    color: grey;
    text-decoration: line-through;
}