@import url('./common.css');
h1 {
    color: rgb(255, 121, 121);
    font-weight: 300;
    margin: .5em 0;
}

form {
    color: var(--primary);
    position: relative;
    width: 30em;
    background-color: var(--bg-form);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em auto;
    box-shadow: 0 5px 5px var(--secondary);
    padding: 2em 4em;
    box-sizing: border-box;
}

form:after {
    position: absolute;
    content: '';
    width: .7em;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(var(--primary), var(--secondary));
}

.image {
    height: 9em;
    width: 9em;
    border-radius: 50%;
    background-color: var(--app-grey);
    margin-bottom: 2em;
}

input {
    color: lightgray;
    width: 100%;
    padding: .4em .5em;
    background-color: var(--app-grey);
    border: 1px solid var(--app-grey);
    border-radius: .2em;
}

input:focus {
    outline: none;
    border: 1px solid var(--secondary);
}

label {
    width: 100%;
    font-weight: 300;
    margin-bottom: -.1em;
    margin-top: 1.5em;
}

button {
    padding: .3em 2em;
    background-color: var(--primary);
    color: white;
    margin-top: 2em;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;
}

.crear-cuenta {
    background-color: var(--secondary);
    padding: .5em 3em;
    color: white;
    font-weight: 400;
    margin-top: 2em;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
}

.form-header {
    color: grey;
    font-size: 2em;
}

.ingresarA {
    text-align: center;
}

p {
    width: 100%;
    font-weight: 300;
    text-align: center;
}

small {
    color: var(--secondary);
    font-style: italic;
}